.destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: var(--secudarias-bege);

    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .destaque-titulo{
        color: var(--primarias-coral);
        font-family: var(--font-family-sigmar);
        font-size: var(--h1-sigmar);
    }

    .destaque-titulo > span{
        color: var(--terciarias-verde2);
    }
}