.destaque {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-5xl) 0;
  background-color: var(--secudarias-bege);

  @media screen and (width <= 768px) {
    padding: var(--padding-xxl) var(--padding-3xl);
  }

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <= 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .destaque-titulo {
    color: var(--primarias-coral);
    font-family: var(--font-family-sigmar);
    font-size: var(--h1-sigmar);
  }

  .destaque-titulo > span {
    color: var(--terciarias-verde2);
  }
}
