.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.alinhamento-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    .label-busca{
    display: flex;
    flex-grow: 0.5;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--natural-cinza-escuro);
    padding: 8px 16px;
    border-radius: 2rem;

    input{
        outline: none;
        border: none;
        width: 100%
    }

    .icone-busca{
        display: flex;
        align-items: center;

        &::after{
            content: "";
            position: relative;
            background-image: url('../assets/icones/busca.png');
            background-repeat: no-repeat;
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }
}

.botao-login{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
}

.navegacao{
    align-items: center;

    .menu-lista{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;

        .menu-link{
            text-decoration: none;
            color: var(--natural-cinza-escuro);
            position: relative;
            padding-bottom: 0.25rem;

            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: var(--natural-cinza-escuro);
                transition: width 0.3s ease;
            }
        }
        
        .menu-link:hover::after, .menu-link:focus::after{
            width: 100%;
        }
    }
}
