.ofertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  background-color: var(--secudarias-bege);
  width: 100%;
  padding: var(--padding-5xl) 0;

  .ofertas-titulo {
    color: var(--primarias-coral);
  }

  .carrossel {
    display: flex;
    gap: var(--gap-l);
    position: relative;
    overflow: hidden;
  }

  .carrossel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-m) var(--padding-s);
    background-color: var(--neutras-branco);
    border-radius: 1rem;
    text-align: center;
    gap: var(--gap-m);
  }

  .carrossel-nome,
  .carrossel-preco {
    font-family: var(--font-poppins);
    font-size: var(--fonte-size-xm);
    font-weight: 600;
  }

  .carrossel-nav {
    border: none;
    border-radius: 50%;
    padding: var(--padding-m);
    background-color: var(--primarias-coral);
    color: var(--neutras-branco);
  }

  .carrossel-button {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 45%;
  }
}
