.parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-m);
  width: 100%;
  padding: var(--padding-xxl) 0;
  background-color: var(--neutras-branco);

  .parceiros-titulo {
    color: var(--primarias-coral);
    margin-bottom: 1.25rem;
  }

  .lista-parceiros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-xxxl);

    @media screen and (width <= 768px) {
      gap: var(--gap-xxl);
    }
  }

  .lista-parceiros > div {
    flex: 1 0 100px;
    width: 100%;
  }

  .lista-parceiros > div > img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
  }

  .lista-parceiros > div:nth-child(odd):hover img {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--cor-primaria-box-shadow);
  }

  .lista-parceiros > div:nth-child(even):hover img {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--cor-secudaria-box-shadow);
  }
}
