.planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);

  .planos-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xl);
    background-color: var(--primarias-coral);
    padding: var(--padding-xl);
    border-radius: 2rem;
  }

  .planos-titulo {
    color: var(--secudarias-bege);

    @media screen and (width <= 768px) {
      text-align: center;
    }
  }

  .lista-planos {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-xl);

    @media screen and (width <= 768px) {
        flex-direction: column;
        align-items: center;
    }
  }

  .cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-m);
    background-color: var(--neutras-branco);
    padding: var(--padding-m);
    border-radius: 1rem;
    flex-grow: 1;

     @media screen and (width <= 768px) {
        width: 50%;
    }
  }

  .cartao > h3 {
    font-size: var(--fonte-size-l);
  }

  .cartao > p {
    text-align: center;
  }

  .cartao > span {
    font-size: var(--fonte-size-xl);
    font-family: var(--font-family-sigmar);
    color: var(--primarias-coral);
  }

  .botao-compra {
    border: none;
    background-color: var(--primarias-coral);
    padding: var(--padding-s) var(--padding-l);
    border-radius: 2rem;
    color: var(--neutras-branco);
  }
}
