.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xxl);

  .rodape-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (width <= 768px) {
      flex-direction: column;
      gap: var(--gap-m);
    }
  }

  .icones-rodape {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap-s);

    @media screen and (width <= 768px) {
      align-items: center;
    }
  }

  .icone-rodape {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
